body { font-family: sans-serif; width: 640px; margin:  0 auto; padding-bottom: 200px;}
pre { padding:  10px; background-color: #f0f0f0; width: 400px;}
.example {
  width: 400px;
  margin-bottom: 20px;
}